<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PdfSharp" version="1.51.5185-beta" targetFramework="net45" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.54" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="18.2.0.54" targetFramework="net45" />
  <package id="Syncfusion.Pdf.WinForms" version="18.2.0.54" targetFramework="net45" />
</packages>